@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
   
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 
   justify-content: center;
   justify-items: center;
   align-items: center;

}

section ul{
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 24px;
}

body {
    background-image: url(assets/bg.jpg);
   background-position: top center;
   background-size: 100% auto;
   background-repeat: no-repeat;
   background-color: #121214;
   font-family: Inter, sans-serif;
   line-height: 160%s;     
    
}


main {
    max-width: 500px;
    width: 90%;
    margin: auto;
    display: grid;
    gap: 24px; 
    margin-top: 32px;

}       

h2 {
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    margin-bottom: 10px;
}

p {
    color: whitesmoke;
    letter-spacing: -0.18px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
section {
    color:white;
    width: 30rem;
    margin: auto;
    border-radius: 20px;
}


section div {

    color: #2A2634;
    padding: 32px;
    padding-top: 24px ;
    border-radius: 8px;
}
section h2 {    

    color: white;
    letter-spacing: -47px;
}

ul {
    display: flex;
    margin: auto;
 
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}   


.games-list img:hover {
   width: 100px;
   transition: 0.4s;
}  

.streamers img:hover {
    width: 80px;
    height: 80px;
    transition: 0.4s;
}

.streamers img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid lightslategray;

}

.redes {
    gap: 20px;
    padding: 30px;
}

.redes img {
    width: 55px;
}

.redes .img-redes {
    width: 50px;
}

.redes a:hover {
    font-size: 25px;
    transition: 0.4s;
}

aside {
       list-style: none;
       text-decoration: none;
       width: 20rem;
       margin: auto;
       border-radius: 20px;
       
}
.p2 {
    padding-bottom: 30px;  
    margin-top: 10px;
}







































@media (max-width: 600px) {
    
    body {
        width: 100%;
        font-size: 20px;
        align-items: center;
        display: block;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        align-items: center;
        flex-wrap: nowrap;
        font-size: 17px;
    }

    .h3 {
        margin-left: 20px;
    }

    .p1 {
        margin-left: 20px;
    }

    .games-list {
        margin-right: 50px;
    }

    .streamers {
        margin-right: 50px;
    }

    .redes {
        margin-left: 40px;
    }
}